@import url(“https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,300&display=swap”);
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: ‘Poppins’, sans-serif;
  /* border: 2px solid; */
}

.hWala{
    cursor: pointer;
    /* border:  solid red; */
}
body>div:nth-child(1){
    border:  solid black;
    display: flex;
    /* flex-direction: column; */
}

body>div:nth-child(1)>div{
    border:  solid red;
    width: 50%;
}

body>div:nth-child(1)>div>img{
    width: 100%;
}

body>div:nth-child(1)>div:nth-child(1){
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.fHead{
    font-size: 46px;
    line-height: 1.2;
    font-weight: 700;
}

.fPara{
    font-weight: 400;
    line-height: 1.6;
    font-size: 25px;
 
}
button{
    background-color: black;
    font-size: 20px;
    color: white;
    padding: 6px 8px;
}


body>div:nth-child(2){
    width: 50%;
    margin: auto;
    /* border: solid red; */
    display: flex;
    justify-content: center;
}
#mid{
    display: flex;
    width: auto;
    border: solid red;
    width: 60%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
