*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#main {
    margin: auto;
    margin-top: 10px;
    width: 98%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
}
a > img{
    width: 45px;
    height: 45px;
}
#search {
    width: 920px;
    height: 40px;
    border: 1px solid transparent;
    background-color: #eeeeee;
    border-radius: 50px;
    font-size: 16px;
    padding-left: 20px;

}
button{
    width: 120px;
    background-color: transparent;
    border: 1px solid rgb(168, 167, 167);
    padding: 5px 5px;
    color: black;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    border: 1px solid rgb(109, 109, 109);
}
#cards i {
    position: absolute;
}
i:hover{
    cursor: pointer;
    font-size: 16px;
}

#hamburger > img{
    width: 20px;
    height: 20px;
}

#hamburger:hover{
    cursor: pointer;
}

#notification > img:hover{
    cursor: pointer;
}
#logo > img{
    width: 35px;
    height: 35px;
}
#logo > img:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
}

/* search bar styling  */

.submenu {
    position: absolute;
    display: block;
    width: 910px;
    height: 300px; 
    border: 1px solid rgb(216, 207, 207);
    border-radius: 5px;
    visibility: hidden;
    z-index: 999;
    padding: 20px;
    color: gray;
   }
   
   input:hover + .submenu{
       visibility: visible;
       opacity: 1;
   } 
   .sm-1{
       display: flex;
       margin-top: 10px;
       justify-content: flex-start;
       gap: 20px;
   }
   .submenu>p{
       font-size: 16px;
       margin-top: 10px;
   }
   .sm-1>div{
       width: 100px;
       height: 40px;
       border-radius: 5px;
       border: 1px solid;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   p{
       color: black;
   }